<%= content_for :head do %>
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<% end %>
<div class="m-3">
    <%= form_with(model: @question, url: questions_path, method: :post) do |form| %>
  
  <% if @question.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content, class: "form-control description", id: "markdown-editor" %>
  </div>

  <!-- Add additional form fields as needed -->

  <div class="form-group">
    <%= form.submit "Save", class: "btn btn-primary" %>
    <%= link_to "Back" , questions_path%>
  </div>
<% end %>
</div>
<script>
  console.log("Script start");
document.addEventListener("DOMContentLoaded", function () {
  console.log("DOMContentLoaded event");
  var simplemde = new SimpleMDE({
    element: document.getElementById("markdown-editor"),
    // Customize options as needed
  });
  console.log("SimpleMDE initialized");
})
</script>
