<p style="color: green"><%= notice %></p>

<div class="container m-1">
  <h1>Question Bank</h1>

  <div id="questions">
    <% @questions.each do |question| %>
      <div class="border border-dark p-3 mb-3">
        <h3><%= question.title %></h3>
        <p><%= question.content %></p>
        <%= link_to "Show", question , class: "btn btn-primary" %>
        <%= link_to "Edit", edit_question_path(question), class: "btn btn-warning mr-2" %>
        <%= link_to "Delete", @question, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
      </div>
    <% end %>
  </div>

  <%= link_to "New Question", new_question_path, class: "btn btn-primary mt-3" %>
</div>
